/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}


/* Свои стили */
.page {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .logo-wrapper {
    font-weight: 700;
    text-transform: uppercase;
}

.container-fluid {
    max-width: 1400px;
    margin: 0 auto;
}

.container-fluid .form-wrapper {}

.container-fluid .form-wrapper .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-fluid .form-wrapper .form-group {
    margin-bottom: 20px;
    max-width: 500px;
    width: 500px;
}

.container-fluid .form-wrapper .form-group:last-child {
    margin-bottom: 0;
}

.container-fluid .form-wrapper .form-group .submit-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid cornflowerblue;
    background-color: cornflowerblue;
    color: #fff;
    line-height: 1;
    outline: none;
    border-radius: 10px;
    transition: all 0.6s;
    width: 100%;
}



.container-fluid .form-wrapper .form-group .submit-btn:hover {
    background-color: transparent;
    color: cornflowerblue;
    transition: all 0.6s;
}

footer {}


/* конец свои стили */